<div class="user">
    <button type="button" class="btn btn-warning" (click)="authService.SignOut()">
        Sign out
    </button>
    <div *ngIf="authService.userData">
        <img class="perfil" [src]="authService.userData.photoURL" />

    </div>

</div>
<div class="generalDiv">
    <div class="containerAddSearch">



        <input type="text" class="form-control searchInput" placeholder="Search by name">


        <div class="formGroup">

            <button class="btn btn-success" (click)="addPhoto()">
                Add photo
            </button>
        </div>
    </div>

    <div class="containerImagenes">

        <img *ngFor="let image of listImages" class="image" [src]="image.url">

    </div>
    <!-- <button class="btn btn-primary" (click)="get()">get</button>
<button class="btn btn-info" (click)="insert()">insert</button> -->
</div>